
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.route-container {
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    height: 100vh;
}
