

.login__box-main {

    &-rightSide-confirmPassword{
        width: 260px;
        padding: 13px 2px;
        height: 35px;
        margin: 13px 0;
        background-color:rgba(255, 255, 255, 0.742);
        font-size: 17px;
        border: none;
        border-bottom: 1px solid grey;

        &:focus {
            border-bottom: 3px solid $color-blue;
            outline: none;

            &+ion-icon {
                color: $color-blue;
                font-size: 30px;
            }

            &:invalid {
                border-bottom: 3px solid $color-orange;
                outline: none;

                &+ion-icon {
                    color: $color-orange;
                    font-size: 30px;
                }
            }

            &+ ion-icon + p {
                opacity: 1;
                animation-duration: 0.3s;
                animation-name: moveUp;
                animation-fill-mode: forwards;  
            }

            &::placeholder {
                opacity: 0;
            }

        }
    }

    &-form-confirmPassword {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    &-form-confirmPasswordText {
        position: absolute;
        left: 38px;
        font-size: 12px;
        color: grey;
        opacity: 0;
    }
}

ion-icon{
    margin-right: 10px;
    font-size: 25px;
    color: black;
}

